@import "theme/material";
@import "~bootstrap/scss/bootstrap-grid";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  min-width: auto;
  width: 100%;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}
